<html>
    <head>
        <title>Naming Contest</title>
        <link rel="stylesheet" href="style.css">
    </head>
    <body>
        <h2>Hello People!</h2>
        <%-content-%>
    </body>
</html>